.li {
  border: solid 2px grey;
}

h1 {
  border: solid 2px black;
  /* border-radius: 5px; */
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(155, 181, 237, 0.954);
}

.name {
  border: solid 2px gray;
  /* border-radius: 5px; */
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(155, 181, 237, 0.954);
  margin: 20px;
  padding: 5px;
}

.bio {
  border: solid 2px gray;
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(155, 181, 237, 0.954);
  padding: 8px;
}

.headButtons {
  border: solid 2px black;
  /* border-radius: 3px; */
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(155, 181, 237, 0.954);
  line-height: 18px;
  height: 25px;
  text-align: center;
  /* margin: 1px; */
}

.postbody {
  border: solid 2px gray;
  background-color: #dcd7c7;
  /* border-radius: 3px; */
  font-family: 'Orbitron', sans-serif;
  padding-top: 5px;
  margin-bottom: 5px;
}

/* .postfield {

} */

.smallfont {
  font-size: 70%;
  font-family: 'Orbitron', sans-serif;
  margin: 5px;
}

.quotes {
  font-family: sans-serif;
  margin-bottom: 5px;
}

.postsbg {
  background: #ECF0F5;
  background: -webkit-linear-gradient(top, #ECF0F5, #88878F);
  background: -moz-linear-gradient(top, #ECF0F5, #88878F);
  background: linear-gradient(to bottom, #ECF0F5, #88878F);
}

.action {
  text-align: center;
  /* text-align: justify; */
  margin-top: 3;
  margin-bottom: 3;
  margin-left: 2;
  margin-right: 2;
}

.orb {
  font-family: 'Orbitron', sans-serif;
}

.clip {
  overflow: auto;
}